.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-image: url("../imgs/BackgrounLogin.webp");
    background-size: cover; 
    background-position:center; 
    background-repeat: no-repeat; 
}

.container{
    width: 340px;
    height: 500px;
    background-color: #1DBF3B;
    text-align: center;
    border-radius: 12px;
    font-family: 'Inria Serif',sans-serif;
}

.container h1{
    font-size: 24px;
    margin: 20px;
}

.container section{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

section label{
    font-weight: bold;
}

section input{
    margin-bottom:10px;
    width: 98%;
    height: 45px;
    font-size: 14px;
    background-color: #D9D9D9;
    border:none;
    padding-left:10px;
    border-radius: 12px;
}

button{
    background-color: #fff ;
    color: #1DBF3B;
    width: 150px;
    height: 50px;
    font-size: 30px;
    border: none;
    margin:15px;
    border-radius: 12px;
}